{% load i18n static %}
{% if not team %}
<a style="float: right; padding: 5px;" href="{% url "news:rss" %}"><img src="{% static "images/rss.png" %}" alt="{% trans "RSS Feed" %}"/></a>
<a style="float: right; padding: 5px;" href="{{ alert.subscribe_url }}"><img src="{% static "images/email.png" %}" alt="{% trans "Get Email Notifications" %}"/></a>
{% else %}
<a style="float: right; padding: 5px;" href="{% url "team_blog_rss" team=team.slug %}"><img src="{% static "images/rss.png" %}" alt="{% trans "RSS Feed" %}"/></a>
{% endif %}
<div class="cmsplugin-news">
  <div class="content">
{% if latest %}
 {% for news in latest %}
   <div class="article{% if not news.is_published %} unpub{% endif %}">
    <h2><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></h2>
    <p class="postdate">{{ news.pub_date|date:"DATE_FORMAT" }}</p>
    {{ news.excerpt|safe }}
    <p class="readmore"><a href="{{ news.get_absolute_url }}">{% trans "Read more" %}...</a></p>
  </div>
 {% endfor %}
{% else %}
 <p class="empty">{% trans "No news yet" %}</p>
{% endif %}
<!--<a href="{ url "news:archive_index" %}">{% trans "Archive" %}</a>-->
  </div>
</div>
