{% extends "forums/base.html" %}
{% load i18n static inkscape highlight %}
{% block title %}{% trans "Search" %}{% endblock %}
{% block "wrapper" %}
<div class="container-flex forums-app forums-search-context">
{% endblock "wrapper" %}
{% block "forumheader" %}
  <div class="forum-sub-header">
    {% if forum %}
      <a href="{{ forum.get_absolute_url }}">{% if forum.icon %}<img src="{{ forum.icon.url }}" title="{{ forum }}"> {% endif %}{{ forum }}</a>
    {% else %}
      <a href="{% url "forums:list" %}"><img src="{% static "forums/images/logo.svg" %}"> {% trans "Whole Forum" %}</a>
    {% endif %}
    <span class="glyphicon glyphicon-chevron-right"></span> <span class="forum-thread-title">{% block "searchtitle" %}{% trans "Search" %}{% endblock %}</span>
  </div>
{% endblock %}

{% block "aside" %}
 <aside class="sm-side forum-sidebar">
  <ul class="nav nav-pills nav-stacked labels-info">
    <li>
      <h4>{% trans "Searches" %}</h4>
    </li>
    <li class="forum-item new{% if search_name == "TopicSubjectSearch" %} active{% endif %}">
      <a href="{% url "forums:search" %}?q={{ query }}"><span class="glyphicon glyphicon-comment"></span> {% trans "Topic Subject" %}</a>
    </li>
    <li class="forum-item new{% if search_name == "CommentSearch" %} active{% endif %}">
      <a href="{% url "forums:search.posts" %}?q={{ query }}"><span class="glyphicon glyphicon-tag"></span> {% trans "Comment Text" %}</a>
    </li>
    <li class="forum-item new{% if search_name == "TopicSearch" %} active{% endif %}">
      <a href="{% url "forums:search.topics" %}?q={{ query }}"><span class="glyphicon glyphicon-tags"></span> {% trans "Topic Threads" %}</a>
    </li>
  </ul>
 </aside>
{% endblock %}

{% block "tools" %}
  {% with page as page_obj and 1 as is_paginated %}{{ block.super }}{% endwith %}
{% endblock %}

{% block "content" %}
  <table class="table table-forum table-hover" data-pk="forum-{{ forum.pk }}">
    <tbody>
    {% for comment in page.object_list %}
      <tr class="{% cycle 'odd' 'even' %}" data-changed="{{ comment.submit_date.isoformat }}" data-pk="topic-{{ topic.pk }}">
        <td class="subscribed forum-small-cells avatar"><img src="{{ comment.object.user.photo_url }}"/></td>
        <td class="view-message"><a href="{{ comment.get_absolute_url }}">{% highlight comment.text with query max_length 120 %}</a></td>
        <td class="view-message text-right">{{ comment.submit_date|timetag }}</td>
      </tr>
    {% empty %}
      <tr>
          {% if search_error %}
          <td style="text-align: center;"><h1>{% trans "Search Error: " %} {{ search_error }}</h1></td>
          {% else %}
          <td style="text-align: center;"><h1>{% trans "No topics yet" %}</h1><p><a href="{% url "forums:search.posts" %}?q={{ query }}">Click here</a> to do a comment body search</p></td>
          {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
