{% load i18n static inkscape highlight search_tools %}

  <table class="table table-forum table-comment">
    <tbody>
    {% for comment in comment_list %}
      {% with comment.get_topic as topic %}
      <tr class="{% cycle 'odd' 'even' %}" data-changed="{{ topic.last_posted.isoformat }}" data-pk="topic-{{ topic.pk }}" data-author="{{ comment.user.username }}">
        {% if topic %}
          <th class="forum-small-cells avatar"><img src="{% if topic.forum.icon %}{{ topic.forum.icon.url }}{% endif %}"/></th>
          <th><a href="{{ topic.get_absolute_url }}#c{{ comment.pk }}">{{ topic }}</a></th>
        {% else %}
          <th><span class="glyphicon glyphicon-comment"></span></th>
          <th><a href="{{ comment.get_absolute_url }}">{% trans "Not a forum post" %}</a></th>
        {% endif %}
        <th class="view-message text-right text-muted"><span class="glyphicon glyphicon-time"></span> {{ comment.submit_date|timetag }}</th>
        <th class="forum-small-cells avatar" style="width: 1%;"><a href="{{ comment.user.get_absolute_url }}"><img src="{{ comment.user.photo_url }}" title="{{ comment.user }}"/></a></th>
      </tr>
    {% if query or show_comments %}
      <tr class="{% cycle 'odd' 'even' %}" data-changed="{{ comment.submit_date.isoformat }}" data-pk="comment-{{ topic.pk }}">
        <td class="view-message" colspan="2">
            {% if query %}
              {% highlight comment.comment with query max_length 200 %}
            {% else %}
              {% autoescape off %}
                {{ comment.comment|striptags|truncatechars:300 }}
              {% endautoescape %}
            {% endif %}
        </td>
        <td class="view-message text-center" colspan="2">
          {% if not comment.is_public and request.user.is_moderator %}
            <a href="{% url "forums:comment_public" comment.pk %}?next={{ request.path }}%3Fapprove={{ comment.pk }}%23c{{ comment.pk }}" class="btn btn-sm btn-success" title="{% trans "Approve (make public)" %}">
              <span class="glyphicon glyphicon-ok-sign"></span>
            </a>
            <a href="{% url "forums:comment_remove" comment.pk %}?next={{ request.path }}%3Frem={{ comment.pk }}" class="btn btn-sm btn-danger" title="{% trans "Remove" %}">
              <span class="glyphicon glyphicon-remove"></span>
            </a>
          {% endif %}
        </td>
      </tr>
      <tr class="sep"><td colspan="4">
        {% if request.user.is_moderator %}
          <ul>
            {% for flag in comment.user.forum_flags.all %}<li><span class="emoji{% if flag.modflag %} modflag{% endif %}">{{ flag.flag }}</span> {{ flag.title|default:"Flagged" }}</li>{% endfor %}
          </ul>
        {% endif %}
      </td></tr>
    {% endif %}
      {% endwith %}
    {% empty %}
      <tr>
        <td class="icon forum-small-cells forum-no-results"><span class="glyphicon glyphicon-info-sign"></span></td>
        <td class="topic-item forum-no-results" colspan="6">
          {% if query %}
            {% blocktrans %}No comments found with search '{{ query }}'{% endblocktrans %}
          {% else %}
            {% trans "No comments" %}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
