    <ul id="menu">
      {% for menu in menu_items %}
        <li>
            <a {% if menu.item.url %}href="{{ menu.item.url }}"{% endif %} title="{{ menu.item.title|default:'' }}">{{ menu.item.name }}</a>
            {% if menu.submenu != None %}
                <ul>
                {% for sub_menu_item in menu.submenu %}
                  <li>
                    <a href="{{ sub_menu_item.item.url }}">{{ sub_menu_item.item.name }}{% if sub_menu_item.item.info != None %}<span class="info">{{ sub_menu_item.item.info }}{% endif %}</span></a>
                  </li>
                {% endfor %}
                </ul>
            {% endif %}
        </li>
      {% endfor %}
    </ul>
