{% extends 'base.html' %}
{% load static i18n i18n_fields %}

{% block title %}{{ object }}{% endblock %}
{% block headerdesc %}{{ object.release|translate_field:"html_desc"}} - {{ object.platform|translate_field:"desc" }}{% endblock %}
{% block keywords %}download,release,{{ object.release|translate_field:"keywords"}},{{ object.platform|translate_field:"keywords" }}{% endblock %}

{% block "css" %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "css/shield.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "css/releases.css" %}"/>
  {% if object.resource or object.download %}
    <meta http-equiv="Refresh" content="2; url={{ object.get_resource_url }}"/>
  {% endif %}
{% endblock %}

{% block supercontent %}
  {% if object.release.is_draft %}
    <ul id="messages">
      <li class="warning" title="{% trans "Use the admin to publish." %}">{% trans "This release for this platform-release is in draft mode. It is not visible to the public yet." %}</li>
    </ul>
  {% elif request.GET.redirected %}
    <ul id="messages">
      <li class="warning" title="{% trans "Automatic redirection" %}">{% trans "You have been redirected automatically to the best download, to see all available downloads please go to:" %} <br/><a href="{{ object.release.get_absolute_url }}">{% trans "All Platforms" %}</a></li>
    </ul>
  {% endif %}
  {{ block.super }}
{% endblock %}

{% block content %}
<div>
  <div id="left-column">
    {% if object.platform.image %}
      <img src="{{ object.platform.image.url }}" title="{{ object.platform|translate_field:"name" }}" style="float: left;"/>
    {% endif %}
    {% if object.resource or object.download %}
      <h1>{{ title }}</h1>
      <p>{% trans "Thank you for downloading Inkscape." %}
      <p>{% blocktrans with object.get_resource_url as link %}Your download should start in 2 seconds. If not, please <a href="{{ link }}">click here</a> to start.{% endblocktrans %}</p>

      {% if object.resource.user %}
      <p>{% trans "Uploaded by" %} <a href="{{ object.resource.user.get_absolute_url }}">{{ object.resource.user }}</a> {% if object.resource.signature %} (<a href="{{ object.resource.signature.url }}">{% trans "sig" %}</a>){% endif %}</p>
      {% endif %}

      {% if object.resource.checked_by %}
      <p>{% trans "Verified by" %} <a href="{{ object.resource.checked_by.get_absolute_url }}">{{ object.resource.checked_by }}</a> {% if object.resource.checked_sig %} (<a href="{{ object.resource.checked_sig.url }}">{% trans "sig" %}</a>){% endif %}</p>
      {% endif %}

      {% if object.mirrors.all %}
        <h2>{% trans "Available Mirrors" %}</h2>
        <ul>
          {% for mirror in object.mirrors.all %}
            <li>{{ mirror }}: <a href="{{ mirror.download }}">{{ mirror.download }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if object.instructions %}
        <h2>{% trans "Important Notes" %}</h2>
        {{ object.instructions|safe }}
      {% endif %}
    {% elif object.instructions %}
      <!-- No downloads, *only* instructions available -->
      <hr/>
      {{ object.instructions|safe }}
    {% else %}
      <h1>{% trans "Download Unavailable" %}</h1>
      <p><strong>{% trans "WARNING!" %}</strong> {% trans "The download for this isn't working or isn't set up right." %}</p>
    {% endif %}

  {% if object.howto %}
    <hr/>
    <h1>{% trans "Installation Instructions" %}</h1>

    <p>{% trans "This release has further instructions for installation. It is highly recommended that you read the instructions to make sure your installation will work and work well on your computer." %}</p>

    <a href="{{ object|translate_field:"howto" }}">{% trans "Instructions Page" %}</a>
  {% endif %}
  </div>

  <div id="right-sidebar" class="centered">
    <h1>Giving back</h1>
    <a class="btn contribute centered" href="/contribute" title="{% trans "Learn how to contribute to the Inkscape project!" %}">
      <img src="{% static "images/inkscape-heart.svg" %}"><br/>
      <span><strong>{% trans "Contribute<br/>your time<br/>and talent!" %}</strong></span>
    </a>

    <form method="post" action="https://www.paypal.com/cgi-bin/webscr" target="_blank">
      <input value="_s-xclick" name="cmd" type="hidden">
      <input value="VRQMKRX9TCDSW" name="hosted_button_id" type="hidden">
      <button class="btn contribute" name="submit" alt="{% trans "Donate to Inkscape now (Paypal)" %}" type="submit" title="{% trans "Donate to Inkscape now (Paypal)" %}">
        <img src="{% static "images/inkscape-heart.svg" %}"><br/>
        <span>{% trans "Donate with" %}</span><br/>
        <img src="{% static "images/paypal-logo.svg" %}" alt="Paypal">
      </button>
      <img class="pygzexfbnpvrmtelraot kooclofgteyzqkpfkenv" src="https://www.paypal.com/en_US/i/scr/pixel.gif" height="1" width="1">
    </form>
    <p class="centered"><strong>{% trans "Thank You For Supporting Inkscape!" %}</strong></p>
  </div>
</div>
{% endblock %}
